table, th, tr, td{
    border: 2px dotted green;
    border-collapse: collapse;

}

th{
    background-color: yellow;
}
table thead ~ tbody > tr{
    background-color: blueviolet;
}

table tbody > tr{
    background-color: beige;
}

tbody tr:nth-child(2n){
    background-color: lightblue;

}

tbody tr:hover{
    background-color: red;
    font-weight: bold;    
}